.nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #ffffff;
  padding: 0.2rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.nav-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
